# Python / Django 相关
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/
env.bak/
venv.bak/
.mypy_cache/

db.sqlite3
db.sqlite3-journal
media/
static/
*.log

# Vue / 前端 相关
node_modules
dist
dist-ssr
*.local
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# IDE 相关
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?